/abt-app/vendor
/abt-app/node_modules
/abt-app/public/build
/abt-app/public/hot
/abt-app/public/storage
/abt-app/storage/*.key
/abt-app/.env
/abt-app/.env.backup
/abt-app/.env.production
/abt-app/.phpunit.result.cache
/abt-app/.phpunit.cache
/abt-app/Homestead.json
/abt-app/Homestead.yaml
/abt-app/auth.json
/abt-app/npm-debug.log
/abt-app/yarn-error.log
/abt-app/.fleet
/abt-app/.idea
/abt-app/.vscode
.env
